name: Reusable Development Testing (Backend)

on:
    workflow_call:
        inputs:
            node_version:
                description: "Node.js version to use"
                required: false
                type: string
                default: "lts/*"
            run_unit_tests:
                description: "Run unit tests"
                required: false
                type: boolean
                default: true
            run_integration_tests:
                description: "Run integration tests"
                required: false
                type: boolean
                default: true
            run_development_tests:
                description: "Run development environment tests"
                required: false
                type: boolean
                default: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Setup Node.js
                uses: actions/setup-node@v6
                with:
                    node-version: ${{ inputs.node_version }}
                    cache: "npm"
                    cache-dependency-path: "**/package-lock.json"

            -   name: Install dependencies
                run: npm ci

            -   name: Build
                run: npm run build

            -   name: Archive production artifacts
                uses: actions/upload-artifact@v6
                with:
                    name: dist
                    path: dist

    test-unit:
        if: ${{ inputs.run_unit_tests }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Setup Node.js
                uses: actions/setup-node@v6
                with:
                    node-version: ${{ inputs.node_version }}
                    cache: "npm"
                    cache-dependency-path: "**/package-lock.json"

            -   name: Install dependencies
                run: npm ci

            -   name: Download build artifacts
                uses: actions/download-artifact@v7
                with:
                    name: dist
                    path: dist

            -   name: Unit tests
                run: npm run test:unit

    test-integration:
        if: ${{ inputs.run_integration_tests }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Setup Node.js
                uses: actions/setup-node@v6
                with:
                    node-version: ${{ inputs.node_version }}
                    cache: "npm"
                    cache-dependency-path: "**/package-lock.json"

            -   name: Install dependencies
                run: npm ci

            -   name: Download build artifacts
                uses: actions/download-artifact@v7
                with:
                    name: dist
                    path: dist

            -   name: Integration tests
                run: npm run test:integration

    test-development:
        if: ${{ inputs.run_development_tests }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Setup Node.js
                uses: actions/setup-node@v6
                with:
                    node-version: ${{ inputs.node_version }}
                    cache: "npm"
                    cache-dependency-path: "**/package-lock.json"

            -   name: Install dependencies
                run: npm ci

            -   name: Download build artifacts
                uses: actions/download-artifact@v7
                with:
                    name: dist
                    path: dist

            -   name: Development environment tests
                run: npm run test:development

    test-lint:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Setup Node.js
                uses: actions/setup-node@v6
                with:
                    node-version: ${{ inputs.node_version }}
                    cache: "npm"
                    cache-dependency-path: "**/package-lock.json"

            -   name: Install dependencies
                run: npm ci

            -   name: Lint tests
                run: npm run lint

    spellcheck:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Setup Node.js
                uses: actions/setup-node@v6
                with:
                    node-version: ${{ inputs.node_version }}
                    cache: "npm"
                    cache-dependency-path: "**/package-lock.json"

            -   name: Install dependencies
                run: npm ci

            -   name: Run spellcheck
                run: npm run spellcheck

    test-image:
        needs: build
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Download production artifacts
                uses: actions/download-artifact@v7
                with:
                    name: dist
                    path: dist

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build Docker image
                run: |
                    docker buildx create --use
                    docker buildx build --file Dockerfile --platform linux/arm64,linux/amd64 .
